@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
/*assigning general rules for the body of the page*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
}

/* INDEX PAGE */
.header {
    display: flex;
    background-color: #000;
    padding: 0 10px 0 10px;
    width: 100%;
    z-index: 2;
    position: fixed;
}

    .logoContainer {
        margin: 12px 0 -8px 0;
    }

    /*'position: absolute' and 'right: 0' allows for the hyperlinks to be fixed on 
    the top right corner without moving dowards, only side to side*/
    .navigationLinks {
        position: absolute;
        right: 0;
        margin: 3.5vh 10vw 0 0;
    }

    .navigationLinks li {
        display: inline; /*this allows for the list do be displayed horizontally */
        margin: 15px;    
        text-decoration: none
    }

    .navigationLinks li > a {
        text-decoration: none;
        color: #868F94;
    } 

    /*transition for mouse-over action*/
    .navigationLinks li > a:hover {
        color: #ffffff;
        transition: ease-in 0.2s;
    } 

.titleArea {
    display: flex;
    padding-top: 3em;
}
    .writtenSection {
        font-size: x-large;
        margin: 6vh 0 0 22px;
    }

    /*the span will create the small underline underneath the 'what i'm up to' title*/
    .writtenSection span {
        position: relative;
        z-index: 1
    }

    /*span requires a before to be created how we want to -- that is, like a underline*/
    .writtenSection span::before {
        content:' ';
        position: absolute;
        width: 150px;
        background: #000;
        height: 2px;
        bottom: 0;
        padding-left: 0;
        z-index: -1;
        margin-left: -.3em;
    }

    .logoSection {
        position: absolute;
        right: 0;
        margin: 3.5vh 13vw 0 0;
    }

.articlesArea {
    margin: 7vh 4vw 4vh 4vw;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 3px;
}

    .contentContainer {
        display: flex;
        overflow: hidden;
    }

    .descriptionContainer p {
        position: relative;
        right: 0;
        max-width: 50vw;
    }

    /*making the hyperlink look more like a button*/
    .redirectButtonContainer {
        background-color: rgb(10, 10, 10);
        cursor: pointer;
        width: 11em;
        padding: 0.15em 0 0.09em 0;
        text-align: center;
        margin: 1em 0 0 0.2em;
        border-radius: 2px;
    }

    .redirectButtonContainer a {
        text-decoration: none;
        color: white;
    }

    .imageContainer img {       
        position: relative;
        width: 35vw;
        height: auto;
        margin-left: 2em;
    }

.footer {
    text-align: center;
    background-color: black;
    color: blanchedalmond;
    padding: 0.3vh 0 0 0;
}

    .contactForm p {
        font-size: large;
        text-transform: uppercase;
        font-weight: 200;
        color: rgb(166, 167, 163);
    }

    /*modifying the look of all the input fields*/
    .formControl {
        background-color: rgb(31, 30, 30);
        border: none;
        color: antiquewhite;
        border: 1px solid rgb(20, 20, 20);
        border-radius: 3px;
        padding: 2px;
        width: 26vw;
        margin: 2.5px;
    }

    /*when selected, the input field's background will slightly change*/
    .formControl:focus {
        background-color: rgb(44, 43, 43);
        transition: ease-in 0.2s;
    }

    hr.separator {
        border: none;
        background-color: rgb(77, 68, 68);
        color: rgb(77, 68, 68);
        height: 2px;
        margin: 4vh 5vw 2vh 5vw;
    }

    .submitButton {
        border: none;
        cursor: pointer;
        color:aliceblue;
        width: 8em;
        height: 3em;
        background: #8507B1;
        box-shadow: inset -10px -15px 40px 5px rgba(227, 107, 20, 0.25);
        border-radius: 2px;
        margin-bottom: 3em;
    }

    .submitButton:hover {
        background: #9917c9;
        transition: ease-in-out 0.2s;
    }

    .footer p {
        padding-bottom: 2em;
        font-weight: 500;
    }

    /*if the user uses autocomplete to fill the form, the browser
    auto-assigns a different color for the text areas. to fix this, 
    we can use the following effects (shout-out to Gísli Freyr Svavarsson
    and Patrick Fisher @https://stackoverflow.com/questions/2781549/removing-input-background-colour-for-chrome-autocomplete
    for coming up with the solution*/
    input:-webkit-autofill,
    input:-webkit-autofill:hover,
    input:-webkit-autofill:focus,
    input:-webkit-autofill:active {
    transition: background-color 500s ease-in-out 0s;
    }

    .mobileNavigationBar {
        display: none;
    }

/* PROJECTS PAGE */
.allProjects {
    margin: 4vh 0 2vh 3vw;
}

    .allProjects a {
        text-decoration: none;
        color: #000;
        font-size: large;
    }

    .allProjects li {
        list-style: none;
    }


    .cadProjects li::before {
        content: "AutoCAD";
        color: rgb(17, 17, 17);
        background: rgb(202, 202, 202);
        border-radius: 5px;
        padding-inline: 1vh;
        margin-inline-end: 1vh;
    }

/* MOBILE PORTION */
@media (max-width: 720px) {
    .header {   
        position: initial;
        width: 97vw;
    }

    .logoContainer {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .navigationLinks {
        display: none;
    }
    .titleArea {
        display: flex;
        padding-top: 0;
    }
        .writtenSection {
            font-size: medium;
            margin: 4.5vh 0 0 17px;
        }

        .writtenSection span::before {
            width: 100px;
            margin-left: -.1em;
        }

        .logoSection {
            margin: 2vh 5vw 0 0;
        }

        .logoSection img {
            width: 45px;
            height: auto;
        }


    /*since we selected many different styles for the desktop version, 
    modifying them to be mobile friendly may be tricky. using the 'initial'
    value, we can 'go back to a initial state'. thanks a lot Milche Patern and Jsowa, 
    @https://stackoverflow.com/questions/15901030/reset-remove-css-styles-for-element-only*/
    .articlesArea {
        margin: 7vh 4vw 4vh 4vw;
        padding: 20px;
        border: 1px solid #000000;
        border-radius: 3px;
    }
    
        .contentContainer {
            display: block;
            overflow: hidden;
        }
    
        .descriptionContainer p {
            display: initial;
        }

        .redirectButtonContainer {
            width: 10em;
            padding: 0.32em 0 0.18em 0;
            text-align: center;
            margin: 0.8em 0 0.8em 0;
            border-radius: 2px;

            margin-left: auto;
            margin-right: auto;
        }
    
        .redirectButtonContainer a {
            text-decoration: none;
            color: white;
        }
    
        .imageContainer img {       
            position: initial;
            width: 100%;
            height: auto;
            margin: 0;
        }

    .contactForm p {
        font-size: medium;
        font-weight: 600;
    }

        .formControl {
            padding: 10px 6px 6px 7px;
            width: 90vw;
            margin: 3px;
        }

    .footer p {
        padding: 0 1em 2em 1em;
        font-weight: 400;
    }

    .mobileNavigationBar {
        z-index: 1;
        position: fixed;
        bottom: 0;
        display: flex;
        background-color: whitesmoke;
        width: 100%;
        justify-content: space-evenly;
        font-size: small; 
        padding: 0.5em 0 0 0;
        border: 1px solid #b6b6b6     
    }

        .home img {
            margin-left: 0.2em;
        }

        .about img {
            margin-left: 1.4em;
        }

        .projects img {
            margin-left: 1.05em;
        }
    
    .allProjects a {
        font-size: medium;
    }
       

}
