@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
/*assigning general rules for the body of the page*/
* {
    margin: 0;
    padding: 0;
    font-family: 'Hind', sans-serif;
}

/* INDEX PAGE */
.titleArea {
    display: flex;
    padding-top: 3em;
}
    .writtenSection {
        font-size: x-large;
        margin: 6vh 0 0 22px;
    }

    /*the span will create the small underline underneath the title*/
    .writtenSection span {
        position: relative;
        z-index: 1
    }

    /*span requires a before to be created how we want to -- that is, like a underline*/
    .writtenSection span::before {
        content:' ';
        position: absolute;
        width: 150px;
        background: #000;
        height: 2px;
        bottom: 0;
        padding-left: 0;
        z-index: -1;
        margin-left: -.3em;
    }

    .logoSection {
        position: absolute;
        right: 0;
        margin: 2em 10% 0 0;
    }

    .logoSection img {
        width: 70px;
        height: auto;
    }

.articlesArea {
    margin: 7vh 4vw 4vh 4vw;
    padding: 20px;
    border: 1px solid #000000;
    border-radius: 3px;
}

    .contentContainer {
        display: flex;
        overflow: hidden;
    }

    .descriptionContainer p {
        position: relative;
        right: 0;
        max-width: 50vw;
    }

    /*making the hyperlink look more like a button*/
    .redirectButtonContainer {
        background-color: rgb(10, 10, 10);
        cursor: pointer;
        width: 11em;
        padding: 0.15em 0 0.09em 0;
        text-align: center;
        margin: 1em 0 0 0.2em;
        border-radius: 2px;
    }

    .redirectButtonContainer a {
        text-decoration: none;
        color: white;
    }

    .imageContainer img {       
        position: relative;
        width: 35vw;
        height: auto;
        margin-left: 2em;
    }

/* PROJECTS PAGE */
.allProjects {
    margin: 4vh 0 2vh 3vw;
}

    .allProjects a {
        text-decoration: none;
        color: #000;
        font-size: large;
    }

    .allProjects li {
        list-style: none;
    }

    /*this trick allows for the little 'sticker' in front of the project
    title. makes it easier for people to visually filter through the projects*/
    .cadProjects li::before {
        content: "AutoCAD";
        color: rgb(17, 17, 17);
        background: rgb(202, 202, 202);
        border-radius: 5px;
        padding-inline: 1vh;
        margin-inline-end: 1vh;
    }

/* ABOUT PAGE */
.videoContainer {
    width: 70vw;
    height: 35vw;
    margin-right: auto;
    margin-left: auto;
    padding-top: 6vh;
}

    .videoContainer iframe {
        width: 100%;
        height: 100%;
        border: 1px solid black;
        border-radius: 3px;
        background-color: black;
    }

    .aboutMe {
        margin: 5vh 10vw;
    }

/* POST'S CONTENT */
.pageArticleContainer {
    margin: 5em 0 5em 0;
}

    /*centering a image within a div is sometimes tricky. Thanks to Marvo
    @https://stackoverflow.com/a/10989261/16360287 for the clean solution*/
    .image {
        width: 70vw;
        height: auto;
        display:block;
        margin:auto;
    }

    .title {
        text-align: center;
        font-family: Georgia, 'Times New Roman', Times, serif;
        font-size: xx-large;
        font-weight: bold;
        margin: 5em 4em 1em 4em;
        color: rgb(5, 1, 22);
    }

    .smallText {
        font-size: small;
        color: rgb(43, 59, 59);
        text-align: right;
        margin: 1.3em 15% 0 0;
    }

    .textContainer {
        margin: 0 10vw;
    }

    .abstract {
        font-family: Georgia, 'Times New Roman', Times, serif;
        color: rgba(23, 25, 26, 0.959);
        margin: 1em 0 1.3em 0;
    }

    .textArea {
        margin: 1.7em 0 3em 0;
        word-wrap: break-word;
        line-height: 1.6em;
        color: rgba(17, 17, 17, 0.945);
    }

    .subtitle {
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
        font-size: larger;
        font-weight: bold !important;
        color: rgb(14, 14, 14);
        margin: 1.5em 0 1em 0;
    }

/* GREETINGS AFTER CONTACT FORM */
.greetings p {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif !important;
    font-size: xx-large;
    font-weight: bold !important;
    color: rgba(23, 25, 26, 0.959);
    text-align: center;
    padding: 20vh 3vw;
}

/* MOBILE PORTION */
@media (max-width: 720px) {
    .logoContainer {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .logoContainer img {
        height: 40px;
        width: auto;
    }

    .titleArea {
        display: flex;
        padding-top: 0;
    }

        .writtenSection {
            font-size: large;
            margin: 4.5vh 0 0 17px;
        }

        .writtenSection span::before {
            width: 100px;
            margin-left: -.1em;
        }

        .logoSection {
            margin: 2vh 5vw 0 0;
        }

        .logoSection img {
            width: 45px;
            height: auto;
        }

    /*since we selected many different styles for the desktop version, 
    modifying them to be mobile friendly may be tricky. using the 'initial'
    value, we can 'go back to a initial state'. thanks a lot Milche Patern and Jsowa, 
    @https://stackoverflow.com/questions/15901030/reset-remove-css-styles-for-element-only*/
    .articlesArea {
        margin: 7vh 4vw 4vh 4vw;
        padding: 20px;
        border: 1px solid #000000;
        border-radius: 3px;
    }
    
        .contentContainer {
            display: block;
            overflow: hidden;
        }
    
        .descriptionContainer p {
            display: initial;
        }

        .redirectButtonContainer {
            width: 10em;
            padding: 0.32em 0 0.18em 0;
            text-align: center;
            margin: 0.8em 0 0.8em 0;
            border-radius: 2px;

            margin-left: auto;
            margin-right: auto;
        }
    
        .redirectButtonContainer a {
            text-decoration: none;
            color: white;
        }
    
        .imageContainer img {       
            position: initial;
            width: 100%;
            height: auto;
            margin: 0;
        }
    
    .allProjects a {
        font-size: medium;
        line-height: 2em;
    }
    
    /* ABOUT PAGE */
    .videoContainer {
        width: 89vw;
        height: 50vw;
        padding-top: 4vh;
    }

    /* POST'S CONTENT */
    .pageArticleContainer {
        margin: 20% 0 5em 0;
    }

        .image {
            width: 90vw;
        }

        .title {
            margin: 2em 1em 1em 1em;
        }

        .smallText {
            font-size: x-small;
            margin: 1em 6vw 0 0;
        }

        .textContainer {
            margin: 0 6vw;
        }    

}
